[submodule "BrickwareUtils"]
	path = BrickwareUtils
	url = https://github.com/Honeybunch/BrickwareUtils
[submodule "BrickwareMath"]
	path = BrickwareMath
	url = https://github.com/Honeybunch/BrickwareMath
